body{
    background-color: rgb(215, 207, 207);
}

a:link {
    color: rgb(236, 202, 202);  
}

.container {
    position: relative;
}

.sportsimg {
    position: absolute;
    top: -460px;
    right: 10px;
}

.logo{
    position: absolute;
    top: -250px;
    right: 5px;
} 

.image{
    position: absolute;
    top: -500px;
    right: 10px
}
