body{
    background-color: rgb(220, 177, 222);
 }
  
 a:link {
    color: rgb(236, 202, 202); 
 }
  
 .container {
    position: relative;
 }
  
 .sportsimg {
    position: absolute;
    top: -460px;
    right: 10px;
 }
  
 .logo{
    position: absolute;
    top: -325px;
    right: 5px;
 }
  
 .image{
    position: absolute;
    top: -150px;
    right: 10px;
    height: 460px;
 }
  
 .hamster{
    position: absolute;
    top: -120px;
    right: 10px;
 }
  
 .reading{
    position: absolute;
    top: -120px;
    right: 210px;
 }
  
 .studyimage{
   position: absolute;
   top: -300px;
   right: 10px;
   height: 200px;
 }
  
 .school{
    position: absolute;
    top: 2px;
    left: 310px;
    height: 300px;
 }
  
 .kodimg{
    position: absolute;
    top: -95px;
    right: 10px;
    height:200px;
 }
